@keyframes slideInLeft {
    from {
      -webkit-transform: translateX(-15px);
      transform: translateX(-15px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    from {
      -webkit-transform: translateX(15px);
      transform: translateX(15px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInTop {
    0% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes slideInBottom {
    0% {
      -webkit-transform: translateY(35px);
      transform: translateY(35px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5rem;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5rem;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  
@-webkit-keyframes scaleUpCenter {
    0% {
      -webkit-transform: scale(0.3);
              transform: scale(0.3);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scaleUpCenter {
    0% {
      -webkit-transform: scale(0.3);
              transform: scale(0.3);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }


 @-webkit-keyframes flipTop {
    0% {
      -webkit-transform: translateY(0) rotateX(0);
              transform: translateY(0) rotateX(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: translateY(-100%) rotateX(-180deg);
              transform: translateY(-100%) rotateX(-180deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  


 @-webkit-keyframes rotateIn {
    0% {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }
  @keyframes rotateIn {
    0% {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }
  
  