.brand-active.owl-carousel .owl-item img {
	//display: inline-block;
	//width: auto;
}
.brand-img.text-center {

}
.brand-area{
	.brand-img{
		width: 130px !important;
		height: 150px !important;
		display: flex!important;
		justify-content: space-around;
		align-items: center;
		img {
			height: 60%;
		}
	}
	.slick-list{
		margin: 0px!important;
		padding:0!important;
	}
}
