.newsletter-form{
  form{
    display: flex;justify-content: space-between;
    align-items: center;
    input{
      width: calc(100% - 180px);
    }
    button{
      width: 180px;
      margin-top: 0!important;
    }
  }
}

@media screen and (max-width: 512px){
  .newsletter-form{
    form{
      display: flex;justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      input{
        width:100% ;
      }
      button{
        width: 180px ;
        margin-top: 15px!important;
        margin-left: 0!important;
      }
    }
  }
}