.top-bar{
  .row{
    padding-top: 15px;
    padding-bottom: 15px;
    .header-icon{
      margin-top: 0;
      a{
        margin: 0 10px;
      }
      a:last-child{
        margin-right: 0;
      }
    }
  }
  .header-info{
    display: flex;flex-wrap: wrap;
    @media screen and (max-width: 414px){
      display: none;
    }
    @media screen and (max-width: 1200px){
      a:nth-child(1),a:nth-child(2){
        display: block;
      }
      a:nth-child(3){
        display: none;
      }
    }
    @media screen and (max-width: 991px){
      a:nth-child(1){
        display: block;
      }
      a:nth-child(3),a:nth-child(2){
        display: none;
      }
    }
    @media screen and (max-width: 775px){
      a:nth-child(3),a:nth-child(2), a:nth-child(1){
        display: none;
      }
    }

  }
}